<div id="layout-topbar">
    <div id="sysLogo" [class.hide]="!navDisplay">
      <img id="logo" alt="惠每EMR编辑器-后台管理" src="assets/img/emr-logo.png">
      <div id="logoContent" [class.hide]="!navDisplay">惠每EMR编辑器-后台管理</div>
    </div>
  <i [class]="'iconfont ' + (navDisplay ? 'icon-menu-unfold' : 'icon-menu-pack-up')" (click)="toggleNavOnclick()"></i>
  <!-- <div id="rightValue">{{hospitalName}}</div> -->
  <a id="templateDownload" href="assets/电子病历系统模板制作v2.1.pdf" download="电子病历系统模板制作v2.1.pdf" target="_blank">模板制作操作手册</a>
</div>
