.box{
    flex-direction: column;
}

.box{

    .row{
        input{
            width: 160px;
        }
    }
    .center{
        text-align: center;
        display: block !important;
    }
    .ops{
        text-align: right;
        display: inline-block;
    }
    .right{
        >div{
            margin-bottom: 10px;
        }
    }
}



:host ::ng-deep .top .ui-datatable-scrollable-body{
    max-height: calc(60vh - 200px);
}
:host ::ng-deep .bottom .ui-datatable-scrollable-body{
    max-height: calc(40vh - 110px);
}

/* 确保所有表格内的字体大小一致 */
:host ::ng-deep .ui-datatable {
  font-size: 14px;
}
