.box{
    .row{
        width:300px;
        input{
            width: 240px;
        }
        label{
            text-align: left;
            width: 76px;
        }
    }
    .center{
        text-align: center;
    }
    .ops{
        text-align: right;
    }
    .right{
        >div{
            margin-bottom: 10px;
            background-color: #fff;
        }
    }
}
:host ::ng-deep .left .ui-datatable-scrollable-body{
    max-height: calc(100vh - 240px);
}
:host ::ng-deep .right .ui-datatable-scrollable-body{
    max-height: calc(50vh - 160px);
}

/* 确保表格中的字体大小统一 */
:host ::ng-deep .ui-datatable {
  font-size: 14px;
}

/* 确保字段标签和输入框字体大小统一 */
:host ::ng-deep label,
:host ::ng-deep input,
:host ::ng-deep button,
:host ::ng-deep .ui-dropdown,
:host ::ng-deep .ui-multiselect {
  font-size: 14px;
}
